<!DOCTYPE html>
<html layout:decorate="~{main-layout}">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
</head>
<body>
    <main layout:fragment="main-body">
        <form action="#" method="POST"
        th:action="@{/save-customer}"
        th:object="${customer}">
            <p>
                Name: <input type="text" th:field="*{name}"/>
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            <p>
            <p>
                Last Name: <input type="text" th:field="*{lastName}"/>
                <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
            </p>
            <button type="submit">REGISTER</button>
        </form>
    </main>
</body>
</html>