<!DOCTYPE html>
<html lang="en-US" layout:decorate="~{main-layout}">

<head>
    <meta charset="UTF-8">
    <title>Formulary</title>
</head>

<body>

    <main layout:fragment="main-body">
        <h1>Fill it!</h1>
        <fieldset>
            <legend>Person</legend>
            <form action="/form/submit" method="POST">
                <label for="name">Name: </label>
                <input type="text" name="name" id="name" required>
                <input type="submit" value="Submit">
            </form>
        </fieldset>
    </main>

</body>

</html>