<!DOCTYPE html>
<html layout:decorate="~{main-layout}">
<head>
    <meta charset="UTF-8">
    <title>User Listing</title>
</head>
<body>    
    <main layout:fragment="main-body">
        <table>
           <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>LAST NAME</th>
                </tr>
           </thead>
           <tbody>
                <tr th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
           </tbody>
        </table>
    </main>
</body>
</html>